
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

@use postcss-preset-env;

.header {
    position: relative;
    padding: 3vh;
  }
  
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://estaticos.esmadrid.com/cdn/farfuture/GbWwNEEZ__exWTZL1gRhoYGmNh7aMU7qbrP_PHLaaAs/mtime:1646729432/sites/default/files/styles/content_type_full/public/editorial/karaoke.jpg?itok=GF1i4EX6");
    opacity: 0.2;
  }
  
  .header h1,
  .header h3,
  .header p {
    /* position: relative; */

    z-index: 1;
  }

.song-card {
display: flex;
flex-basis: var(--size-content);
flex-direction: column;
gap: var(--size-2);
background: var(--surface-3);
border: 1px solid var(--surface-1);
padding: var(--size-4);
border-radius: var(--radius-3);
box-shadow: var(--shadow-4)
}

.song-card > img {
    inline-size: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.buttons {
    border: none;
    padding: 5px 8px;
    border-radius: 25px;
    font-weight: 600;
    color: var(--lime-5);
    background-color: var(--blue-8);
    box-shadow: 0 1px 0 var(--gray-11);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

button:focus, button:hover {
    background-color: var(--lime-5);
    color: var(--blue-8); 
}

.more-info {
    font-weight: 600;
    color: var(--lime-5);
    text-shadow:0 2px 0 var(--gray-11);
    cursor: pointer;
}

.song-p {
    font-weight: 500;
    color: var(--gray-4);
}
.band-p {
    font-weight: 500;
    color: var(--gray-4);
}

.song-detals-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

#song-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    background: var(--surface-3);
    border: 1px solid var(--surface-1);
    padding: var(--size-4);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-4)
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 300px;
}

form h4 {
    text-align: center;
}

input,
textarea {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: var(--font-letterspacing-3);
    background-color: var(--blue-9);
    color: var(--gray-3);
    border: 1px solid var(--black-8);
    padding: .5rem;
    margin: .25rem 0;
    width: 100%; 
 
}

footer img {
    background-size: cover;
    width: 100%;
    height: 500px;
    border: 1px solid var(--black-8);
    box-shadow: var(--shadow-4);
    background-image: url("https://c0.wallpaperflare.com/preview/92/251/615/guitar-music-rock-skull.jpg");
}


/* Thanks to:
[Kevin Powell]. Create a horizontal media scroller with CSS [Video]. Youtube. https://youtu.be/3yfswsnD2sw
for the song scroller css
*/

.song-scroller {
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 23%;

    padding: 3vh;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}